<div class="navbar-wagon">
  <!-- Left Navigation -->

  <!-- Central logo -->
  <% if user_signed_in? %>
    <%= link_to root_path, class: "brand" do %>
      <p>TaskManager</p>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "brand" do %>
      <p>TaskManager</p>
    <% end %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm position-right">

    <% if user_signed_in? %>
      <%= link_to t(".sign_out", default: "Logout"),destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>
</div>
